* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 40px;
  min-height: 100vh;
  background-color: aliceblue;
}

.todo-list {
  width: 400px;
}

.todo-list__form {
  display: flex;
}

.todo-list__form input {
  flex: 1;
  padding: 15px;
  outline: none;
  border: none;
  font-size: 1rem;
}

.todo-list__form button {
  padding: 15px;
  border: none;
  background-color: lightslategray;
  color: white;
  cursor: pointer;
}

.todo-list__tabs {
  display: flex;
  margin: 10px 0;
  background-color: white;
  list-style-type: none;
}

.todo-list__tabs > li {
  padding: 15px 20px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background-color 300ms, color 300ms;
}

.todo-list__tabs > li.active,
.todo-list__tabs > li:hover {
  background-color: lightslategray;
  color: white;
}

.todo-list__items {
  display: flex;
  flex-direction: column;
  list-style-type: none;

  perspective: 500pc;
}

.todo-list__items > li {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: white;
}

.todo-list__items > li:hover > .todo-list__item-actions {
  opacity: 1;
  transform: rotateY(0deg);
}

.todo-list__item-actions {
  position: absolute;
  left: -100px;
  display: flex;
  width: 100px;
  height: 100%;
  opacity: 0;
  transition: transform 400ms, opacity 400ms;
  transform: rotateY(90deg);
  transform-origin: right;
}

.todo-list__item-actions > li {
  display: inline-flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  height: 100%;
  color: white;
  cursor: pointer;
}

.todo-list__item-actions > li:nth-child(1) {
  background-color: #f0a48c;
}

.todo-list__item-actions > li:nth-child(2) {
  background-color: #70c670;
}

.todo-list__not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: lightslategray;
  color: white;
}
